@import "tailwindcss";

@theme {
    --color-primary: #A1D1B1;
    /* --color-primary: #1C2529; */
    --color-secondary: #1C2529;
}

::-webkit-scrollbar {
  width: 10px;
  background: #A1D1B1;
}

::-webkit-scrollbar-thumb {
  background: #2a373c; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #181f23;
}

body {
    font-family: 'Lora', sans-serif;
    position: relative;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
}

body #app {
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

#app {
    background-color: var(--color-primary);
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
        /* transform: translateX(-100px); */
        /* scale: 0.5; */
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
        /* transform: translateX(0px); */
        /* scale: 1; */
    }
}

.scroll-div {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover;
    /* animation-range: entry 0 cover 40%; */
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    /* background: #A1D1B1; */
    transform-origin: bottom;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    /* background: #A1D1B1; */
    transform-origin: top;
}